
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="Jason Lee">

    <title>土地增值稅</title>

    <!-- Bootstrap core CSS -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      body {
        padding-top: 50px;
      }
    </style>
  </head>

  <body ng-app="taxApp">
    <div class="container" ng-controller="taxCtrl">
      <ol>
        <li>
          已規定地價之土地,於土地所有權移轉時,應按其土地漲價總數額徵收土地增值稅。但因繼承而移轉之土地,各級政府出售或依法贈與之公有土地,及受贈之私有土地,免徵土地增值稅。
        </li>
        <li>
          土地增值稅計算公式:土地漲價總數額 X 稅率-累進差額=應納稅額
        </li>
        <li>
          按自用住宅用地稅率估算稅額,以都市土地面積300平方公尺或非都市土地面積700平方公尺為限,超過部分,按一般用地稅率估算稅額,二者合計,則為本次該筆移轉土地預估稅額總額
        </li>
        <li>
          本表估算之稅額,係依土地稅法及其施行細則有關土地增值稅應繳稅額之計算公式估算,僅供概算之用,實際應納稅額仍應以申報時核定之發單資料為準。
        </li>
      </ol>

      <hr />

      <form class="form-horizontal">
        <div class="form-group datepicker">
          <label class="col-sm-3 control-label">前次移轉年期</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="month" class="form-control" ng-model="form_model.last_date" validator="[required]" />
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">土地公告現值</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="form_model.price" validator="[required]" />
              <span class="input-group-addon">元/每平方公尺</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">原規定地價或前次移轉現值</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="form_model.last_price" validator="[required]" />
              <span class="input-group-addon">元/每平方公尺</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">消費者物價總指數</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="form_model.rate" validator="[required, in_percentage_range]" />
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">土地宗地面積</label>
          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="form_model.area" validator="[required]" />
              <span class="input-group-addon">平方公尺</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">土地類型</label>
          <div class="col-sm-6">
            <select class="form-control" ng-model="form_model.type">
              <option value="都市土地">都市土地</option>
              <option value="非都市土地">非都市土地</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">移轉或設典範圍</label>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-addon">分子</span>
              <input type="text" class="form-control" ng-model="form_model.numerator">
              <span class="input-group-addon">分母</span>
              <input type="text" class="form-control" ng-model="form_model.denominator">
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-6 col-sm-offset-3">
            <button type="button" class="btn btn-primary" ng-click="submit()">計算</button>
          </div>
        </div>

        <hr />

        <div class="form-group">
          <label class="col-sm-3 control-label">土地增值稅金額</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" readonly="readonly" ng-model="result">
          </div>
        </div>
      </form>
    </div> <!-- /container -->

    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="./bower_components/angular-validator/dist/angular-validator.min.js"></script>
    <script src="./javascripts/validator.rules.js"></script>
    <script src="./javascripts/main.js"></script>
  </body>
</html>
